@(theme: String)
@main(theme){
    <script type="text/javascript" src="@routes.HomeController.webSocketJS()"></script>
    <div class="row">
      <div id="playerinfo" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="row">
          Steine Player 1: 9
        </div>
        <div class="row">
          Steine Player 2: 9
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="gamefield">
        <img src="@routes.Assets.versioned("/images/muehle_transparent.png")" class="img-responsive">
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <h1>Chat</h1>
          <input type="text" id="chat-input">
          <div id="chat-messages"></div>
      </div>
      <div class="row">
        <div id="log-container" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          Player1 startet
        </div>
      </div>
    </div>
}