@(theme: String)
@main(theme){
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <div id="playerinfo">
              Player 1: 9<br>
              Player 2: 9<br>
          </div>
          <button type="submit" class="btn btn-default"
          onclick="$.get('@routes.RestController.reset()',function (data) {
                  updateGamefield(data);
              });
          ">Restart Game</button>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="gamefield">

        <img src="@routes.Assets.versioned("/images/muehle_transparent.png")" class="img-responsive">
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <h1>Chat</h1>
          <input type="text" id="chat-input">
          <div id="chat-messages"></div>
      </div>
      <div class="row">
        <div id="log-container" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          Player1 startet
        </div>
      </div>
    </div>
}