@(name: String)
@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main {

    <html>
        <body>

            <template id="awareness" is="dom-bind">
                <google-signin></google-signin>
                <google-signin-aware
                brand="google"
                client-id="393641479312-mungbg04e9cmkooq11n3u9bci7ac752a.apps.googleusercontent.com"
                on-google-signin-aware-error="handleSignInError"
                on-google-signin-aware-success="handleSignIn"
                on-google-signin-aware-signed-out="handleSignOut"
                ></google-signin-aware>
            </template>

            <script>
                    var aware = document.querySelector('#awareness');
                    aware.userName = '';

                    aware.handleSignInError = function(event) {
                        this.status = JSON.stringify(event.detail);
                    };

                    aware.handleSignIn = function(response) {
                        this.status = 'Signin granted';
                        this.userName = gapi.auth2.getAuthInstance().currentUser.get().getBasicProfile().getName();
                        //alert(this.userName);
                        window.location = "/gui";
                        // console.log('[Aware] Signin Response', response);

                    };

                    aware.handleSignOut = function(response) {
                        this.status = 'Signed out';
                        this.userName = '';
                    };
                    aware.disconnect = function() {
                        var b = document.querySelector('google-signin');
                        var currentUser = gapi.auth2.getAuthInstance().currentUser.get();
                        if (currentUser) {
                            currentUser.disconnect();
                        }
                        gapi.auth2.getAuthInstance().signOut();
                    };
            </script>

        </body>
    </html>

}
