@(theme: String)
@main(theme){
  <script type="text/javascript" src="@routes.Assets.versioned("/javascripts/index.js")"></script>
  <div class="row" id="index-header">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1>Welcome to Morris</h1>
      <h2>Dummy Text1</h2>
      Dummy Text2



    </div>
  </div>
  <div class="row" id="index-body">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="index-image">
      <img src="@routes.Assets.versioned("/images/muehle_transparent.png")" class="img-responsive">
      <button type="button" class="btn btn-primary" id="theme-1">Theme 1</button>
      <button type="button" class="btn btn-primary" id="theme-2">Theme 2</button>
      <button type="button" class="btn btn-primary" id="theme-3">Theme 3</button>
      <button type="button" class="btn btn-primary" id="theme-4">Theme 4</button>
      <button type="button" class="btn btn-primary" id="theme-5">Theme 5</button>
      <button type="button" class="btn btn-primary" id="theme-6">Theme 6</button>
      <button type="button" class="btn btn-primary" id="theme-7">Theme 7</button>
      <button type="button" class="btn btn-primary" id="theme-8">Theme 8</button>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

    </div>
  </div>
  <template id="awareness" is="dom-bind">
    <google-signin></google-signin>
    <google-signin-aware
    brand="google"
    client-id="393641479312-mungbg04e9cmkooq11n3u9bci7ac752a.apps.googleusercontent.com"
    on-google-signin-aware-error="handleSignInError"
    on-google-signin-aware-success="handleSignIn"
    on-google-signin-aware-signed-out="handleSignOut"
    ></google-signin-aware>
  </template>
}