@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(theme: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>Morris</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

            <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

            <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

            <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

            <!-- jQuery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

            <!-- Polymer scripts -->
        <script src="@routes.Assets.versioned("polymer/bower_components/webcomponentsjs/webcomponents-lite.js")"></script>
        <link rel="import"href="@routes.Assets.versioned("polymer/bower_components/polymer/polymer.html")">
        <link rel="import"href="@routes.Assets.versioned("polymer/src/morris-app/morris-app.html")">
        <link rel="import"href="@routes.Assets.versioned("polymer/src/login-app/login-app.html")">
        <script type="text/javascript" src="@routes.HomeController.webSocketJS()"></script>
        <script type="text/javascript" src="@routes.HomeController.jsRoutes"></script>


    </head>
    <body class=@theme>
        <nav id="my-navbar" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Welcome to Morris</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/gui">Start new Game (GUI)</a></li>
                        <li class="nav-item"><a class="nav-link" href="/tui">Start new Game (TUI)</a></li>
                        <li class="nav-item"><a class="nav-link" href="/rules">Rules</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    @if(session.get("email")) {
                        <span class="navbar-text">@session.get("email")</span>
                        @if(session.get("google")) {
                            <login-app></login-app>
                        } else {
                            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                        }
                    } else {
                        <li class="nav-item"><a class="nav-link">Login</a></li>
                    }
                    </ul>
                </div>
            </div>
        </nav>
        @* And here's where we render the `Html` object containing
         * the page content. *@
        <div class="container-fluid" id="content-container">
            @content
        </div>
    </body>
</html>
