@(theme: String)
@main(theme){
    <div class="row">
        <div class="col-sm-6" id = "rules">
            <h1>Procedure</h1>
            <p>The game proceeds in three phases</p>
            <h2>Placing</h2>
            <p>The players alternating place their men once per turn. If one player is able to place three men in a straigt line,
                he formed a mill and may remove one of an opponent's man, which is not in a mill. When all men are placed, phase 1 is
                finished.</p>
            <h2>Moving</h2>
            <p>Players now move their pieces to adjacent points and try to form mills like in phase 1. This is done until one player
                only remains 3 pieces.</p>
            <h2>Flying</h2>
            <p>When a player only has left 3 pieces, his movements are not longer limited to adjacent points. He may now set his pieces
                to any point of the field. The game ends, when one player has no pieces left</p>
            <h1>Developers</h1>
            <p>This game is developed by Thomas Amann and Lars Knaack, see the source code at GitHub https://github.com/LarsKnaack/de.htwg.wt.muehle</p>
        </div>
        <div class="col-sm-6">
            <img src="@routes.Assets.versioned("/images/muehle_transparent.png")" class="img-responsive">
        </div>
    </div>
}