@(theme: String)
@main(theme){
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="chat-container">
            <h1>Chat</h1>
            <input type="text" id="socket-input">
            <div id="socket-messages"></div>
            <script type="text/javascript" src="@routes.HomeController.webSocketJS()"></script>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h1>Game</h1>
            <input type="text" id="tui-input">
            <div id="tui-container"></div>
        </div>
    </div>
}